{% extends "layout.html" %}

{% block title %}
Viite sovellus
{% endblock %}

{% block body %}

<h1>Kirjat</h1>
    
{% if books %}
    <table>
        <head>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Publisher</th>
                <th>Year</th>
            </tr>
        </head>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book[1] }}</td>
                <td>{{ book[2] }}</td>
                <td>{{ book[3] }}</td>
                <td>{{ book[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ei kirjoja tietokannassa.</p>
{% endif %}

<p><a href="/new_book">Lisää uusi kirja</a></p>

{% endblock %}