body {
    background-color: #cfb79f; 
    color: #1b0b1b;
}

/* Muokkaa jokaista input kohtaa erikseen */
.form-group {
    margin-bottom: 15px;
}


/* Muokkaa koko formsin containeria */
.form-container {
    max-width: 40%;
    padding: 40px;
    border: 2px solid #797272;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #797272;
    border-radius: 4px;
}